
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');
#tbar{
    /* position: fixed;  */
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80px;
    font-family: 'ZCOOL XiaoWei', serif;
    z-index: 1;
}

#tbar *{ 
    position: relative;
    color: black;
   }

   #tbar h1{ 
    color: rgba(18, 8, 110, 0.75);
    font-size: 25px;
    font-weight: 100;
   }

#tbar nav{
    right: 30px;  
    position: absolute;
}

#tbar button{
    font-family: 'ZCOOL XiaoWei', serif;
    background:none;
    margin-right: 5px;
    font-style: none; 
    font-size: 20px;
} 

 /* nav button:hover{
    border-bottom: 2px rgba(189, 212, 55, 0.75) solid;
} */

.trow{
    padding-left: 20px;
    margin: -15px;
}

.trow{
    padding-top: 30px;
}
.trow2{
    padding-top: 0px;
    margin-bottom: .5px;
    font-size: 16px;
}

