<div id= 'tbar'>
    <mat-toolbar>
      <mat-toolbar-row class="trow1">
          <h1>Syshelle Chantilou</h1>
            <nav>
              <button mat-button routerLink='.'>Home</button>
              <button mat-button routerLink='.'>Projects</button>
              <button mat-button (click)="copyToClipboard()">Contact</button>
            </nav>
          </mat-toolbar-row>
        <mat-toolbar-row class='trow2'>
           <p> Full Stack Developer & Software Instructor / Mentor</p>
     </mat-toolbar-row>
      </mat-toolbar>
      </div>