<footer>
        <section id="conn-container">
                <h4>Connect</h4>
                <a href="{{data1}}" target="_blank"> <i class="fab fa-linkedin linkedin-icon"></i><span>LinkedIn</span></a>
                <a href="{{data2}}" target="_blank"><i class="fab fa-github github-icon"></i><span> GitHub</span></a>
                <a href="{{data3}}" target="_blank"><i class="fab fa-twitter twitter-icon"></i><span>Twitter</span></a>
                
            </section>
    <p>© Syshelle Chantilou 2019 </p>
</footer>