<img id="bkg-img" src="../../assets/background.jpg" alt="" />
<div id="main">
  
  <h3>Bio</h3>
  <section>
    <section class="sect-content">
      <p>
        Hey it's Me Amayah's Aunty and I'm all about coding. I'm a full stack
        developer with a focus in Angular and Java <br />
        <br />
        <br /><br />My moto is: "Code It Into Existence"
      </p>
    </section>
  </section>
  <h3>Skills</h3>
  <section class="sect-container">
    <section class="sect-content">
      <div class="sect-content2">
        <h4>Front-end</h4>

        <mat-grid-list cols="6" rowHeight="100px">
          <mat-grid-tile class="col"
            ><img src="../assets/html_logo.ico"
          /></mat-grid-tile>
          <mat-grid-tile class="col"
            ><img src="../assets/css3_logo.ico"
          /></mat-grid-tile>
          <mat-grid-tile class="col"
            ><img src="../assets/javascript_logo.ico"
          /></mat-grid-tile>
          <mat-grid-tile class="col"
            ><img src="../assets/jquery_logo.ico"
          /></mat-grid-tile>
          <mat-grid-tile class="col"
            ><img src="../assets/angular_logo.ico"
          /></mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="6" rowHeight="30px">
          <mat-grid-tile> HTML</mat-grid-tile>
          <mat-grid-tile>CSS</mat-grid-tile>
          <mat-grid-tile>Javascript</mat-grid-tile>
          <mat-grid-tile>jQuery</mat-grid-tile>
          <mat-grid-tile>Angular</mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="sect-content2">
        <h4>Back-end</h4>
        
        <mat-grid-list  cols="6" rowHeight="100px">
          <mat-grid-tile class="col"
            ><img src="../assets/node_logo.ico"
          /></mat-grid-tile>
          <mat-grid-tile class="col"
            ><img src="../assets/java_logo.ico"/></mat-grid-tile>
            <mat-grid-tile class="col"><img src="../assets/spring_logo.ico"/></mat-grid-tile>
          <mat-grid-tile class="col"
            ><img src="../assets/mongodb_logo.ico"
          /></mat-grid-tile>
          <mat-grid-tile class="col"
            ><img src="../assets/mysql_logo.ico"
          /></mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list row cols="6" rowHeight="30px">
          <mat-grid-tile>Node</mat-grid-tile>
          <mat-grid-tile>Java</mat-grid-tile>
          <mat-grid-tile>Spring Boot</mat-grid-tile>
          <mat-grid-tile>MongoDB</mat-grid-tile>
          <mat-grid-tile>MySQL</mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="sect-content2"><h4>Other</h4>
        <mat-grid-list cols="6" rowHeight="100px">
            <mat-grid-tile class="col"
              ><img src="../assets/git_logo.ico"/></mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="6" rowHeight="30px">
            <mat-grid-tile>Git(Github)</mat-grid-tile>
          </mat-grid-list>
      </div>
    </section>
  </section>
</div>
