#main{
    width: 95vw;
    margin: 0 auto;
    padding-bottom: .5%;
}

section{
    margin: 3%;
}

 h1{
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    font-size: 50px; 
    color: rgb(129, 141, 132);   
}

 #bkg-img{
    height: 800px;
    width: 100%;
} 

#hs-img{
    height: 60px;
    width: 3%;
    margin-left: .4%;
    border-radius: 20%;
  border: 1.5px solid rgb(129, 141, 132);
}

h2{
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #ccc!important;
    margin: 50px 0px 30px 0px;
    font-size: 160%;
}
 p{
    font-size: 17px;
}

span{
    font-weight: bold;
}
