
<section  id= "main"> 
 <img id="bkg-img" src="../../assets/background.jpg" alt=""> 
 <h1 id ="content"> DREAM . TEACH . CODE {{character}}</h1> 
  <section class="sect-summary">
      <h2>About<img id="hs-img"src="../../assets/mya.png" alt=""></h2>
      <p>Hey it's Me Amayah's Aunty and I'm all about coding. I'm a full stack developer with a focus in Angular and Java
            <br/> <br/>  
            <br/><br/>My moto is: "Code It Into Existence"
      </p>

  </section>
  <section class="sect-summary"> 
      <h2>Connect</h2>
      <p> <span>LinkedIn</span>: www.linkedin.com/in/syshellechantilou
      <br/> <br/><span> GitHub</span>: www.github.com/chantist
      <br/><br/> <span>Twitter</span>: www.twitter.com/chantist1
      </p>
      </section>
    </section>