#main{
    background-color: rgb(240,240,240);
    width: 100vw;
    margin: 0 auto;
    padding-bottom: .5%; 
}

.sect-container {
    padding: 0 4% 6% 4%;
} 

.sect-content, .sect-content2 {
    padding: 0 5% 6% 5%;
} 

.sect-content2 {
position: relative;
margin-bottom: 5%;
font-size: 16px; 
box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
color: rgb(48,48,48);
background-color: white;
width: 80%;
margin: 0 auto;
border-radius: 3px;
} 


h4{
font-weight: 200;
font-size: 1.70rem;
    padding: 20px 30px;
    text-transform: uppercase;
    border-bottom: .5px solid rgb(32, 136, 55);
}

.sect-content2 i{
   font-size: 350%;
}

 #bkg-img{
    height: 550px;
    width: 100vw;
    height: 46vw;
} 

h3{
    margin-top: 0;
    padding: 20px 30px;
    color: white;
    font-weight: 200;
    background-color: rgb(19, 4, 107);
    font-size: 2.55rem;
    line-height: 3.212rem;
    text-transform: uppercase;
}

 p{
    font-size: 17px;
}

span{
    font-weight: bold;
}
